
/* font family for all 'CamptonBook', Helvetica, Arial, sans-serif; */
p, h3, h1, h2, a ,html, body{
   font-family: "Outfit", sans-serif;
   font-weight: 300;
   font-optical-sizing: auto;
    font-style: normal;
 /*font-family: Campton, Helvetica, Arial, sans-serif !important;*/ 
}
#myNavbar{
  height: 4em;
  padding-bottom: 12vh !important;
  z-index: 1;
}
#logo{
  margin-left: 43%;
  margin-top: 2vh;
}
.konfigurator-button{
    width: 100%;
    height:10vh;
    font-size: 2.5vh;
    border: none;
    text-align: left;
    background-color: rgba(244, 244, 244, 0.83);
}
.konfigurator-button-selected{
    width: 100%;
    height:10vh;
    font-size: 2.5vh;
    border: none;
    text-align: left;
    background-color: rgb(46, 111, 96);
    color: white;
}
.send-inquiry{
    width: 70%;
    height:5vh;
    background-color: rgb(118, 198, 180);
    border-radius: 2vh;
    border: none;
    font-size: 2vh;
    margin-left: 5vh;
}
.send-inquiry:hover{
    width: 70%;
    height:5vh;
    background-color: rgb(66, 164, 141);
    border-radius: 2vh;
    border: none;
    font-size: 2vh;
    margin-left: 10%;
}
.image-okno{
    background-image: url("standard_plocha_bezova_cervene.png");
    background-color: #cccccc;
    background-size: 1024px 512px;
    background-repeat: no-repeat;
}
#moznosti-podorys{
    margin-left: 1vh;
    display: flex;
    width: fit-content;
    background-color: #ffffff;
    border: 1px solid rgb(231, 231, 231);
    border-radius: 1%;
}
.moznost-podorys{
  border-radius: 1vh;
  font-size: 1vw;
  height: 40%;
  min-height: 40px;
  min-width: 10%;
  max-width: 30%;
  text-align: center;
  font-weight: bold;
  border: 2px solid rgba(0, 18, 0, 0);
  background-color: rgb(229, 234, 232);
  padding: 8px;
  margin: 5px;


}
.moznost-podorys-active{
    border-radius: 1vh;
    font-size: 1vw;
    height: 40%;
    min-height: 40px;
    min-width: 10%;
    max-width: 30%;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(0, 18, 0);
    background-color: rgb(39, 124, 100);
    padding: 8px;
    margin: 5px;
}
.moznost-podorys:hover{
    border-radius: 1vh;
    font-size: 1vw;
    height: 40%;
    min-height: 40px;
    min-width: 10%;
    max-width: 30%;
    text-align: center;
    font-weight: bold;
    border: 2px solid rgb(0, 18, 0);
    background-color: rgb(158, 216, 201);
    margin: 5px;
}
.moznosti-doplnky{
    font-family:Verdana,sans-serif;
    margin-top: 1vh;
    display: flex;
    width: 98%;
    background-color: #ffffff;
    border: 1px solid rgb(198, 198, 198);
    
    border-radius: 1vh;
    height: fit-content;
    margin-left: 1vh;
}
.moznost-doplnok{
    font-family:sans-serif;
    border-radius: 1vh;
    border: 3px solid rgb(204, 204, 204);
    display: block;
    font-size: 1.5vh;
    width: 20%;
    text-align: center;
    font-weight: 400;
    background-color: rgb(229, 234, 232);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.moznost-doplnok > p {
    text-align: center;
    display: flex;
    height: 50%;
    padding-left: 5px;
    width: 100%;
}
.moznost-doplnok:hover{
    font-family:sans-serif;
    border-radius: 1vh;
    border: 3px solid rgb(204, 204, 204);
    display: block;
    font-size: 1.5vh;
    width: 20%;
    text-align: center;
    font-weight: 400;
    background-color: rgb(158, 216, 201);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.moznost-doplnok-clicked{
    font-family:sans-serif;
    border-radius: 1vh;
    border: 3px solid rgb(0, 111, 17);
    display: block;
    font-size: 1.5vh;
    width: 20%;
    text-align: center;
    font-weight: 400;
    color: white;
    background-color: rgb(39, 142, 100);
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#price-wrapper{
    background-color: rgba(228, 252, 245, 0.789);
    height: 100%;
    width:50%;
    font-size:6vh;
    margin-left: 5vh;
    border-radius: 1vh;

}
#price-wrapper >h4 {
    padding-left: 4vh;
    margin-top: 30vh;
    font-size: 2.5vh;

}

.konfigurator-moznosti-left {
    height: 100vh;
    background-color: rgb(253, 253, 253);
    width: 15%;
    display: block;
    padding-top: 5vh;
}
#wrapper-info{
    position: static;
    left:0px;
    top:750px}

.container {  display: grid;
  grid-template-columns: 1fr 0.7fr 1.3fr 1fr [b] 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1.4fr 0.6fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  height: 95vh;
  margin-top: 5vh;
  grid-auto-flow: row;
  grid-template-areas:
    "a a a a a a c c c"
    "a a a a a a c c c"
    "a a a a a a c c c"
    "b b b b b b c c c"
    "b b b b b b c c c";
}

.a { 
    grid-area: a;
    background-color: rgb(255, 255, 255); 
}

.b { 
    grid-area: b; 
    display: flex;
    background-color: rgb(255, 255, 255);
}

.c { 
    grid-area: c; 
    background-color: rgb(255, 255, 255);
}
.order-btn{
    font-family:sans-serif;
    width: 45%;
    height: 20%;
    font-size: x-large;
    background-color: rgb(158, 216, 201); 
    border: none;
    font-weight: 400;
    border-radius: 15px;
    margin: 5%;
}
.order-btn:hover{
    font-family:sans-serif;
    width: 45%;
    height: 20%;
    font-size: x-large;
    background-color: rgb(66, 155, 131); 
    border: none;
    font-weight: 400;
    border-radius: 15px;
    margin: 5%;
}
.b > h3{
    padding-top: 5%;
}
.configurator-btn-large{
  min-width: 40%;
  max-width: 50%;
  margin-left: 30%;
  border: 0px;
  font-size: large;
  border-radius: 1vh;
  height: 4em;
  background-color: rgb(135, 152, 102)!important;
}
.configurator-btn-large:hover{
  min-width: 40%;
  max-width: 50%;
  margin-left: 30%;
  border: 0px;
  font-size: large;
  border-radius: 1vh;
  background-color: rgb(115, 184, 145)!important;
}
.input-text{
  width: 50% !important;
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  margin-left: 25%;
}
#contact-info-wrapper>p {
 padding-left: 25%;
}
#contact-info-wrapper>button {
 padding-left: 25%;
}
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.slideshow-btn{
  height: 10px;
  width: 10px;
  background-color: blue;
  z-index : 500;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffffdc;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin-top: 3vh;
}


#modely-wrapper{
  margin-left: 20%;
}

@media screen and (max-width: 600px) {
  #logo{
    margin-left: 5%;
  }
  #home{
    font-size: 2em;
  }
  #hamburger-small{
    padding-top: 2.5vh;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  #modely-wrapper{
  margin-left: 0%;
} 
  .a{
    width: 100%;
    font-size: medium;
    order: 1;
  }
  .b{
    width: 100%;
    font-size: medium;
    display: block;
    order: 3;
  }
  .b> .order-btn{
    margin-left: 30%;
    height: 40%;
  }
  .c > .order-btn{
    height: 40%;
    margin-left: 30%;
  }
  .b> h3{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
  }
  .c{
    width: 100%;
    font-size: medium;
    margin-right: 5%;
    order: 2;
  }
  
  .moznost-podorys{
    font-size: x-small;
    margin-right: 2%;
    margin-left: 0%;

  }
  .moznost-podorys-active{
    font-size: x-small;
    margin-right: 2%;
    margin-left: 0%;
  }
  .moznost-podorys:hover{
    font-size: x-small;
    margin-right: 2%;
    margin-left: 0%;
  }
  .moznosti-doplnky{
    margin-left: 0;
  }
  #elko , #standard {
    width: 30%;
  }


  .input-text{
    width: 80% !important;
    padding:8px;
    display:block;
    border:none;
    border-bottom:1px solid #ccc;
    margin-left: 3%;
  }
  #contact-info-wrapper>p {
    padding-left: 3%;
  }
  #contact-info-wrapper>button {
    padding-left: 3%;
  }
  #input-form >p{
    margin-left: 6% !important;
  }
  #submit-message-btn {
    margin-left: 25% !important;
  }
}
#btn-wrapper{
  display: flex;
  flex-direction: row;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: center;
  padding: 16px;
}

th:first-child, td:first-child {
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.fa-check {
  color: green;
}

.fa-remove {
  color: red;
}

.flip-card {
  background-color: transparent;
  width: 22%;
  height: 60vh;
  perspective: 1000px;
  display: inline-block;
  padding: 5px;
  margin: 5px;
  border-radius: 4vh;
  
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 4vh;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: fit-content;
  
  min-height: 60vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4vh;

}

.flip-card-front {
  background-color: #dcd9d9;
  color: black;
  border-radius: 4vh;
  
}

.flip-card-back {
  background-color: rgb(135, 152, 102)!important;
  color: white;
  transform: rotateY(180deg);
  border-radius: 4vh;
}
.accordion{
  background-color: rgb(135, 152, 102);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.5em;
  transition: 0.4s;
  border-radius: 1vh;
  margin-top: 1vh;
}
.showMore{
  margin-top: 2vh;
  background-color: rgb(175, 195, 134);
  border: none;
  border-radius: 1vh;
  padding: 10px;
  margin-left: 46%;
  font-size: 1.0em;
}
.showMore:hover{
  margin-top: 2vh;
  background-color: rgb(45, 64, 53);
  border: none;
  color: white;
  border-radius: 1vh;
  padding: 10px;
  margin-left: 46%;
  font-size: 1.0em;
}

#configurator-info {
  font-size: 1.5em;
  padding: 5vh;
  
}
#configurator-info > p {
  text-align: center;
  margin-top: 10vh;
}